.Contact {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
  /* background-image: url(/src/assets/Images/grids_upscaled.jpg); */
}
.chead {
  font-size: 36px;
}
.contact {
  /* background-color: #fff; */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 50px;
}
.me {
  /* background-color: #fff; */
  display: flex;
  text-align: center;
  backdrop-filter: blur(3px);
  outline: 5px solid #ddd;
  overflow: hidden;
  border-radius: 25px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  gap: 25px;
  margin: 25px;
  padding: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.proj {
  display: flex;
  /* background-color: #fff; */
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.collab {
  background-color: rgba(0, 0, 0, 0.397);
  width: 20vw;
  gap: 25px;
  display: flex;
  outline: 2px solid #ddd;
  flex-direction: column;
  border-radius: 15px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 12vh;
  /* filter: drop-shadow(5px 5px 5px orange); */
  align-items: center;
  justify-content: center;
}
.commercial {
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.384);
  width: 20vw;
  display: flex;
  /* filter: drop-shadow(5px 5px 5px orange); */
  gap: 25px;
  outline: 2px solid #ddd;
  flex-direction: column;
  border-radius: 15px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  align-items: center;
  justify-content: center;
}
.link,
.mail {
  font-size: 26px;
  text-align: center;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.clink {
  background-color: orangered;
  align-self: center;
  height: 30px;
  width: 35px;
  font-size: 36px;
  border-radius: 25px;
}
.clink:hover {
  background-color: #fff;
  color: #db0f0f;
}
.support {
  background-color: rgba(0, 0, 0, 0.377);
  width: 25vw;
  align-items: center;
  display: flex;
  outline: 3px solid #db0f0f;
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
.support:hover {
  filter: drop-shadow(5px 5px 5px red);
  transition: all 1s ease-in-out;
}
.collab:hover,
.commercial:hover {
  filter: drop-shadow(5px 5px 5px orange);
  transition: all 1s ease-in-out;
}
.collab,
.commercial,
.support {
  animation: fade-in 2s linear 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    margin-bottom: 2000px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}
.rsub {
  text-align: center;
}
.referals {
  width: 98vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  height: 75vh;
}
.rhead {
  display: flex;
  align-items: center;
  font-size: 35px;
  backdrop-filter: blur(25px);
  text-align: center;
  gap: 5px;
}
.refing {
  font-size: 42px;
}
.refdev {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.ref {
  width: 28vw;
  height: 20vh;
}
@media screen and (max-width: 480px) {
  .Contact {
    /* width: 320; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .contact {
    margin: 0px;
    padding: 15px;
    height: auto;
    margin: 25px;
    width: 300px;
  }
  .chead {
    font-size: 25px;
  }
  .me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;

    padding: 25px;
    align-items: center;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 70px;
    gap: 15px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }
  .sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .proj {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* background-color: #fff; */
  }
  .sub-head {
    text-align: center;
  }
  .collab,
  .commercial {
    width: 200px;
    gap: 10px;
  }
  .mail {
    font-size: 12px;
  }
  .support {
    width: 230px;
  }
  .clink {
    font-size: 20px;
    width: 25px;
    align-self: center;
    height: 25px;
  }
  .referals {
    height: 100vh;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .refdev {
    display: flex;
    flex-direction: column;
  }
  .refing {
    font-size: 30px;
  }
  .ref {
    width: 300px;
    font-size: 18px;
  }
  .rhead {
    font-size: 20px;
  }
}
