.foot {
  outline: 2px solid grey;
  position: fixed;
}
.nav {
  margin: 0px;
  justify-content: space-between;
  padding: 15px;
  display: flex;
  height: 300px;
  width: 30px;
  border-top-right-radius: 20px;
  background-color: transparent;
  flex-direction: column;
  box-shadow: 15px 15px 25px black;
  border-bottom-right-radius: 20px;
}
.foot {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}
.link {
  color: white;
  font-size: 25px;
  width: 30px;
}
.link:hover {
  color: orangered;
  transition: all 0.25s ease 0.2s;
  filter: drop-shadow(2px 2px 2px black);
}
.label {
  font-family: "Anton", sans-serif;
  z-index: 1;
  font-size: 22px;
}
.hit {
  display: flex;
  /* background-color: #fff; */
  align-items: center;
  gap: 8px;
}

.link + .label {
  display: none;
}
.link:hover + .label {
  display: block;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 4px;
  /* transition: all 5s ease-in-out 2s; */
  transition: all 2s ease 2s;
  filter: drop-shadow(2px 2px 2px black);
}

@media only screen and (max-width: 480px) {
  .nav {
    height: 10px;
    width: 150px;
    display: none;
    flex-direction: row;
  }
  .foot {
    display: none;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768-px) {
  .nav {
    height: 10px;
    width: 150px;
    display: none;
    flex-direction: row;
  }
  .foot {
    display: none;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .nav {
    display: flex;
  }
}
